<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Prescription dashboard for MIE module (University of Manchester)">
  <meta name="author" content="Alan Davies">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <title>Prescribing dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/abx.css') }}" rel="stylesheet">

  <!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js" integrity="sha512-5vwN8yor2fFT9pgPS9p9R7AszYaNn0LkQElTXIsZFCL7ucT8zDCAqlQXDdaqgA1mZP47hdvztBMsIoFxq/FyyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Custom scripts for the dashboard -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/barchart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/calc.js') }}"></script>

  <!-- Page script -->
  <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};

        // Run JavaScript functions when page ready
        $(document).ready(function () {
            initializeMain();
            barChart.drawChart({{pct|tojson}}, "bar-chart");
        });
  </script>
  <!-- Script to calculate and check inputs and outputs for the creatinine clearance calculator-->
  <script>
        function calculateCreatinineClearance()
        {   // Get the inputted elements from the form
            var serum = document.getElementById("patients-serum");
            var weight = document.getElementById("patients-weight");
            var age = document.getElementById("patients-age");

            // Check that values are not left empty
            if (age.value == '' || serum.value == '' || weight.value == '') {
            alert("You cannot leave any fields empty. Please check the data has been entered correctly.")
            return 0;
            }

            // Check that one of the sex radio buttons is checked
            if (document.getElementById("sex1").checked == false && document.getElementById("sex2").checked == false) {
            alert("You must select a sex before calculating.");
            return 0;
            }
            
            // Check patient age is not over 120 (oldest living person)
            if (parseInt(age.value) > 120) {
            alert("Age cannot be more than 120.");
            return 0;
            }

            // Check patients weight is not over known maximum
            if (parseInt(weight.value) > 442) {
            alert("Weight cannot be more than 442kg.");
            return 0;
            }
            
            // Check patients serum is not over maximum
            if (parseInt(serum.value) > 120) {
            alert("Serum creatinine cannot be more than 120micromol/L.");
            return 0;
            }

            // If the sex is male, use the Cockroft-Gault equation without multiplying by 0.85
            if (document.getElementById("sex1").checked == true) {
            var res = (140 - parseInt(age.value)) * parseInt(weight.value) / (parseInt(serum.value * 0.814))
            // If patient is male and clearance rate is in normal range, output is in green text
            if (res >= 95 && res <= 140) {

            document.getElementById('creatinineClearance').innerHTML = "<span style='color: green;'>" + res.toFixed(2) + "</span>";
          } // Otherwise if patient is male and output is not within normal range, output is in red text
            else {document.getElementById('creatinineClearance').innerHTML = "<span style='color: red;'>" + res.toFixed(2) + "</span>";}
            } 
            
            // If patient is female, Cockroft-Gault equation includes multiplying by 0.85
            else {
            var res = 0.85 * (140 - parseInt(age.value)) * parseInt(weight.value) / (parseInt(serum.value * 0.814))
            // If within normal range, output text is green
            if (res >= 85 && res <= 140) {
            document.getElementById('creatinineClearance').innerHTML = "<span style='color: green;'>" + res.toFixed(2) + "</span>";
            } // Otherwise text is red
            else {document.getElementById('creatinineClearance').innerHTML = "<span style='color: red;'>" + res.toFixed(2) + "</span>";}

            }
        }

        function validateNumber(e) {
            const pattern = /^[0-9]$/;

            return pattern.test(e.key )
        }
  </script>
  <!--Function to clear all fields behind the 'Clear' button. Resets all fields to empty-->
  <script>
    function ClearFields() {
    // Clear each number field to empty
    document.getElementById("patients-serum").value = "";
    document.getElementById("patients-weight").value = "";
    document.getElementById("patients-age").value = "";
    // Clear the radio buttons for sex to unchecked
    document.getElementById("sex1").checked = false;
    document.getElementById("sex2").checked = false;
    // Clear the creatinine clearance rate result 
    document.getElementById('creatinineClearance').innerHTML = "";
}
  </script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="background: #660099">

      <!-- Divide -->
      <hr class="sidebar-divider my-0">
      <img id="uom-logo" src="{{url_for('static', filename='img/logo-uom.png') }}" />
      <br />
      <hr class="sidebar-divider my-0">
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <div class="nav-link" onclick="popup.showAboutPopup();">
          <i class="fas fa-info-circle"></i>
          <span>About</span></div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Main menu:
      </div>



      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <div class="nav-link" onclick="popup.showCeatCalcFormPopup();">
          <i class="fas fa-calculator"></i>
          <span>Creatinine clearance</span>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fas fa-arrow-left"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Sidebar Toggler (Sidebar) -->
              <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
              </div>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Prescribing Dashboard</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Total items -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body" >
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total items:</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tile_data[0] }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-pills fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Mean ACT cost -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Average ACT cost:</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">£{{ tile_data[2] }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-pound-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Top prescribed items -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">TOP PRESCRIBED ITEM:</div>
                      <span class="text_col_black">{{ tile_data[3] }}</span>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ tile_data[4] }}%</div>
                        </div>
                        <div class="col">
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ tile_data[4] }}% "></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">NUMBER OF UNIQUE ITEMS:</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tile_data[1] }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-fingerprint fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row  -->
          <div class="row">
            <div class="col-xl-12 col-lg-7">
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Prescribed items per Primary Care Trust (PCT)</h6>
                </div>
                <div class="card-body">
                  <canvas id="bar-chart"></canvas>
                </div>
              </div>
            </div>

          <!-- Content Row -->
          <div class="row last-row">

            <!-- Content Column -->
            <div class="col-xl-6">

              <!-- Infection treatment drugs -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Infection treatment drug as % of all infection treatments</h6>
                </div>
                <div class="card-body">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total items:</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tile_data[5] }}</div>
                  <p></p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated tool-tip" data-toggle="tooltip" data-placement="right" title="Antibacterial" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ tile_data[6]/tile_data[5]*100 }}%"></div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success tool-tip" data-toggle="tooltip" data-placement="right" title="Antifungal" role="progressbar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ tile_data[7]/tile_data[5]*100 }}%"></div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info tool-tip" data-toggle="tooltip" data-placement="right" title="Antiviral" role="progressbar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ tile_data[8]/tile_data[5]*100 }}%"></div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning tool-tip" data-toggle="tooltip" data-placement="right" title="Antiprotozoal" role="progressbar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ tile_data[9]/tile_data[5]*100 }}%"></div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger tool-tip" data-toggle="tooltip" data-placement="right" title="Anthelmintic" role="progressbar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ tile_data[10]/tile_data[5]*100 }}%"></div>
                  </div>
                  <p></p>
                  <br>
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Antibacterials:</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tile_data[6] }}</div>
                  <p></p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated tool-tip" data-toggle="tooltip" data-placement="right" title="Antibacterial" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ tile_data[6]/tile_data[5]*100 }}%"></div>
                  </div>
                  <div class="text-xs font-weight-normal text-primary text-uppercase mb-1"><center>{{ tile_data[11] }}%</center></div>
                  <p></p>
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Antifungal:</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tile_data[7] }}</div>
                  <p></p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success tool-tip" data-toggle="tooltip" data-placement="right" title="Antifungal" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ tile_data[7]/tile_data[5]*100 }}%"></div>
                  </div>
                  <div class="text-xs font-weight-normal text-primary text-uppercase mb-1"><center>{{ tile_data[12] }}%</center></div>
                  <p></p>
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Antiviral:</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tile_data[8] }}</div>
                  <p></p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info tool-tip" data-toggle="tooltip" data-placement="right" title="Antiviral" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ tile_data[8]/tile_data[5]*100 }}%"></div>
                  </div>
                  <div class="text-xs font-weight-normal text-primary text-uppercase mb-1"><center>{{ tile_data[13] }}%</center></div>
                  <p></p>
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Antiprotozoal:</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tile_data[9] }}</div>
                  <p></p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning tool-tip" data-toggle="tooltip" data-placement="right" title="Antiprotozoal" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ tile_data[9]/tile_data[5]*100 }}%"></div>
                  </div>
                  <div class="text-xs font-weight-normal text-primary text-uppercase mb-1"><center>{{ tile_data[14] }}%</center></div>
                  <p></p>
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Anthelmintic:</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tile_data[10] }}</div>
                  <p></p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger tool-tip" data-toggle="tooltip" data-placement="right" title="Anthelmintic" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ tile_data[10]/tile_data[5]*100 }}%"></div>
                  </div>
                  <div class="text-xs font-weight-normal text-primary text-uppercase mb-1"><center>{{ tile_data[15] }}%</center></div>
                  <p></p>
                </div>
              </div>

            </div>
            <div class="col-xl-6">
              <!-- Show the BNF data for slected PCT -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">BNF data per PCT</h6>
                </div>
                <div class="card-body">
                    <form method='POST' action="{{ url_for('dashboard.home') }}">
                      <select class="custom-select" id="input-group-select" name="pct-option">
                        {% for item in pct_list %}
                        <option name="option-list" value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                      </select>
                      <input type="submit" value="Update" class="btn btn-outline-secondary" />
                    </form>
                    <hr />
                    <table class="table">
                    <thead>
                      <td>Practice</td>
                      <td>BNF code</td>
                      <td>BNF name</td>
                      <td>Items</td>
                    </thead>
                      <tbody>
                      {% for row in pct_data %}
                        <tr>
                          <td>{{ row.practice }}</td>
                          <td>{{ row.BNF_code }}</td>
                          <td>{{ row.BNF_name }}</td>
                          <td>{{ row.items }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Creatinine clearance calculator -->
          <div id="creat-calc">
            <div class="card">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Creatinine clearance calculator</h6>
                </div>
                <div class="card-body">
                  <p>Sex of patient:</p>
                  <div>
                    <label class="radio-inline">
                      <!-- Radio buttons for sex - add two ids for sex for if statements via JScript function-->
                      <input type="radio" id="sex1" name="sex" value="m"> Male
                    </label>
                    <label class="radio-inline">
                      <input type="radio" id="sex2" name="sex" value="f"> Female
                    </label>
                    <p>Age of patient (years):</p>
                    <!-- Input box for patient age. Set min, max, validate inputs, add placeholder of what user should enter for accessibility and change width so placeholder can be seen for each -->
                    <input type="number" min="1" max="120" id="patients-age" style="width:330px" name="patients-age" onkeypress="return validateNumber(event)" placeholder="Please enter a value between 0 and 120"/>
                    <br /><br />
                    <!-- Input box for patient weight as above -->
                    <p>Weight of patient (kg):</p>
                    <input type="number" min="1" max="442" id="patients-weight" style="width:330px" name="patients-weight" onkeypress="return validateNumber(event)" placeholder="Please enter a value between 1 and 442"/>
                    <br /><br />
                    <!-- Input box for serum creatinine as above -->
                    <p>Serum creatinine (micromol/L):</p>
                    <input type="number" min="1" max="120" id="patients-serum" style="width:330px" name="patients-serum" onkeypress="return validateNumber(event)"  placeholder="Please enter a value between 1 and 120"/>
                    <br />
                  </div>
                  <br />
                  <hr />
                  <!-- Add calculate button for clearance rate in blue -->
                  <button type="button" class="btn btn-primary" onclick="calculateCreatinineClearance();">Calculate</button>
                  <!-- Add spacing between buttons -->
                  &nbsp;
                  &nbsp;
                  <!-- Add clear all fields button, coloured red -->
                  <button type="button" class="btn btn-danger" onclick="ClearFields();">Clear</button>
                  <!-- Add spacing between buttons -->
                  &nbsp;
                  &nbsp;
                  <!-- Add close button, coloured blue -->
                  <button type="button" class="btn btn-primary" onclick="popup.hideCeatCalcFormPopup();">Close</button>
                  <p></p>
                  <br/>
                  <!-- Output clearance rate -->
                  <div class="text-xs font-weight-bold text-primary mb-1" style="font-size: 20px;">Creatinine clearance rate (mL/min):
                    <span class="text_col_black" id="creatinineClearance"></span>
                    <br />
                    <br />
                    <!-- Include text below for normal ranges for each sex -->
                    <span class="text_col_black" style="font-size: 14px;">Normal ranges (All ages):
                      <br/>
                      Female: 85 - 125 mL/min
                      <br/>
                      Male: 95 - 140 mL/min
                    </span>
                    <br/>
                    <br/>
                    <!-- Include key for the text colour of the clearance rate -->
                    <span class="text_col_black" style="font-size: 14px;">Output key: <br/><span style="color:green">Green: </span>Normal range<br/><span style="color:red">Red: </span>
                    Outside normal range
                    </span>
                  </div>
                </div>
              </div>
          </div>

          <!-- About popup -->
          <div id="about-box">
            <div class="card">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">About the prescribing dashboard</h6>
                </div>
                <div class="card-body">
                  <p>This dashboard seeks to inform those in pharmacology and prescriptive roles about the current cost, and use of prescription drugs in the UK.
                  It also provides extra assistance when calculating creatinine clearance rates, utilising information on sex, age, weight and serum creatinine of the patient.
                  </p><p>
                  —<b>Information you can retrieve through the dashboard—</b><br>
                  - Total prescription items<br/>
                  - Average ACT cost<br/>
                  - Top prescribed item<br/>
                  - Number of unique items<br/>
                  - Prescription of infection drugs by class as % of all infection treatments<br/>
                  </p>
                  <p>
                  This information on this dashboard is based on the practice level prescribing dataset from NHS Digital (https://digital.nhs.uk/data-and-information/areas-of-interest/prescribing/practice-level-prescribing-in-england-a-summary/practice-level-prescribing-data-more-information). This uses British National Formulary codes for all approved prescription drugs and their use in the UK and will be updated in line with this database.
                  <p>Assistance: If assistance with this Dashboard is required please contact example@outlook.ac.uk
                  <p>Authors: Rebecca Locke, Elfreda Kenneison, George Doyle, Aishah Westwood
                  <p><i>Latest dataset released: December 28th 2021</i>
                  </p>
                  <br />
                  <hr />
                   <button type="button" class="btn btn-danger" onclick="popup.hideAboutPopup();">Close</button>
                </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Alan Davies 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Page mask -->
  <div id="page-mask"></div>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

</body>

</html>
